.container {
	/* margin-right: 40px; */
}

/* .topLine {
	display: flex;
	justify-content: space-evenly;
}

.topLine > input {
	width: 100%;
} */

.input {
	background: transparent;
	border: 1px solid #808080;
	margin: 1rem 2rem;
	padding: 0.5rem;
	height: 2rem;
	width: 100px;
	color: #808080;
	width: 100%;
	object-fit: contain;
	overflow: hidden;
}

.contactForm {
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	width: 600px;
	min-width: 100px;
	min-height: 400px;
	padding: 2rem;
	box-shadow: 0 0.5rem 2rem #222;
	background-color: transparent;
}

button {
	width: 12rem;
	height: 4rem;
	font-family: 'Avenir Next Heavy';
	font-size: 2rem;
	text-transform: uppercase;
	color: #fff;
	margin: 1rem auto;
	background: #2b93d1;
	border: none;
	cursor: pointer;
}

button:disabled {
	background: #eee;
	color: #999;
}

@media (max-width: 768px) {
	.contactForm {
		width: 80%;
		margin: 10px auto;
	}

	.input {
		width: 80%;
		margin: 10px auto;
	}
}
