.nav {
	background-color: transparent;
	position: fixed;
	top: 0;
	right: 0;
	/* width: 100%; */
	display: flex;
	/* flex-direction: column; */
	align-items: center;
	font-size: calc(10px + 2vmin);
	color: #fff;
	margin: 0 2.5rem;
	/* padding: 0 calc((100vw - 1300px) / 2); */
	z-index: 10;
}

.logo {
	width: auto;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	margin: 2rem;
	z-index: 20;
}

.logo.active {
	left: 400px;
	transition: 350ms;
}

.navIcon {
	margin-left: 2rem;
	font-size: 2rem;
	height: 80px;
	display: flex;
	/* justify-content: flex-start; */
	align-items: center;
}

.icon {
	color: #2b93d1;
	width: 2rem;
}

.phone {
	width: 2rem;
	margin: 1rem;
}

a {
	display: flex;
	font-size: 1rem;
	font-family: 'Avenir Next Heavy';
	align-items: center;
	color: #fff;
	text-decoration: none;
	margin: 0 1rem;
}

.button {
	color: #fff;
	background: #2b93d1;
	font-family: 'Avenir Next Heavy';
	font-size: 1.5rem;
	border: none;
	width: 10rem;
	padding: 0.5rem 1rem;
	cursor: pointer;
}

.sidebar {
	position: fixed;
	z-index: 999;
	background: #15171c;
	width: 400px;
	height: 100%;
	display: flex;
	justify-content: center;
	top: 0;
	left: -100%;
	transition: 350ms;
}

.sidebar.active {
	left: 0;
}

.wrapper {
	width: 100%;
}

ul {
	margin: 0;
	padding: 0;
}

@media (max-width: 768px) {
	.nav {
		margin-top: 1rem;
		margin-right: 0;
	}

	.logo {
		height: 80px;
	}

	.phone {
		width: 1.2rem;
	}
	a {
		font-size: 0.7rem;
	}

	.button {
		font-size: 0.9rem;
		width: 7.2rem;
		height: 2.5rem;
		padding: 0;
	}

	.navIcon {
		height: 60px;
	}
}

@media (max-width: 576px) {
	.nav {
		flex-direction: column-reverse;
		align-items: end;
	}

	.sidebar {
		width: 100%;
	}

	.logo {
		height: 60px;
	}

	.button {
		font-size: 0.8rem;
		width: 6rem;
		height: 2rem;
	}
}
