@font-face {
	font-family: 'Avenir Next Regular';
	src: url('assets/fonts/AvenirNextCyr-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir Next Heavy';
	src: url('assets/fonts/AvenirNextCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: 'Avenir Next Thin';
	src: url('assets/fonts/AvenirNextCyr-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir Next Light';
	src: url('assets/fonts/AvenirNextCyr-Light.ttf') format('truetype');
}

body {
	margin: 0;
	font-family: 'Avenir Next Regular';
	background: #010606;
	/* background: #fff; */
	overflow-y: scroll;
	overflow-x: hidden;
}
