@font-face {
	font-family: 'Avenir Next Regular';
	src: url('components/assets/fonts/AvenirNextCyr-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Avenir Next Heavy';
	src: url('components/assets/fonts/AvenirNextCyr-Heavy.ttf') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: 'Avenir Next Thin';
	src: url('components/assets/fonts/AvenirNextCyr-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Avenir Next Light';
	src: url('components/assets/fonts/AvenirNextCyr-Light.ttf') format('truetype');
}

body {
	margin: 0;
	box-sizing: border-box;
	width: 100vw;
	height: 100%;
	font-family: 'Avenir Next Regular';
	background: #010606;
	overflow-y: scroll;
	overflow-x: hidden;
}
